$background_white: #ffffff;
$font_color:#444444;
$input_color:#f6f6f6;
$input_text:#333333;
$icon_color:#acacac;
$input_placeholder:#aaaaaa;
$primary:#17aefd;
$primary_dark:#1466e3;

.main-container{
    
}