@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap");

$primary: #17aefd;
$accent: #f83686;
$dark: black;
$light: white;
.heroContainer {
	.left {
		opacity: 0;
		animation: fadeX 0.5s ease-in-out 0.5s forwards;
	}
	.right {
		opacity: 0;
		animation: fadeX 0.5s ease-in-out 1s forwards;
	}
}
@keyframes fadeX {
	from {
		transform: translateX(-50px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.heroContainer,
.heroContainer2 {
	display: flex;
	height: 90vh;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}

.left {
	width: 50%;
	display: flex;
	justify-content: center;
}
.right {
	width: 50%;
	display: flex;
	justify-content: center;
}

.main {
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
}
.title {
	margin: 0;
	font-size: 5rem;
	font-weight: 900;
	position: relative;
	width: fit-content;
	color: $dark;
}
.title::after {
	content: "";
	z-index: -1;
	position: absolute;
	bottom: 25px;
	left: 0;
	width: 100%;
	height: 10%;
	background-color: $accent;
}
.subtitle {
	margin: 0 0 50px 0;
	opacity: 0.5;
	font-size: 2.5rem;
	color: $dark;
}

.buttonDiv {
	display: flex;
	align-items: center;
	justify-content: left;
	margin: 0 0 0 30px;
}

.btn__primary {
	margin: 0 100px 0 0;
	height: 2.5rem;
	width: 7rem;
	color: $accent;
	border: 1px solid $accent;
	background-color: $light;
	transform: scale(1.5);
	transition: all ease-in-out 0.5s;
}

.btn__primary:hover,
.btn__secondary:hover {
	transform: scale(1.7);
	cursor: pointer;
}

.btn__secondary {
	height: 2.5rem;
	width: 7rem;
	color: $light;
	border: 1px solid $accent;
	background-color: $accent;
	transform: scale(1.5);
	transition: all ease-in-out 0.5s;
}
.right{
	height: 80vh;
}
.image{
	display: none;
	min-width: 30vw;
	object-fit: cover;
}

.custom_shape_divider_top_1613659207 {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom_shape_divider_top_1613659207 svg {
	position: relative;
	display: block;
	width: calc(141% + 1.3px);
	height: 150px;
}

.custom_shape_divider_top_1613659207 .shape_fill {
	fill: $primary;
}

.blob {
	position: absolute;
	top: 0;
	left: 0;
	fill: $primary;
	width: 50vw;
	z-index: -1;
	animation: move 10s ease-in-out infinite;
	transform-origin: 50% 50%;
}

@keyframes move {
	0% {
		transform: scale(1) translate(10px, -30px);
	}
	38% {
		transform: scale(0.8, 1) translate(50vw, 30vh) rotate(160deg);
	}
	40% {
		transform: scale(0.8, 1) translate(50vw, 30vh) rotate(160deg);
	}
	78% {
		transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
	}
	80% {
		transform: scale(1.3) translate(0vw, 50vh) rotate(-20deg);
	}
	100% {
		transform: scale(1) translate(10px, -30px);
	}
}

.is_active {
	.left {
		opacity: 0;
		animation: fadeX 0.5s ease-in-out 0.5s forwards;
	}
	.right {
		opacity: 0;
		animation: fadeX 0.5s ease-in-out 1s forwards;
	}
}


@media screen and (max-width: 960px){
	.title{
		font-size: 3rem;
	}
	.title::after{
		height: 0.5rem;
		bottom: 1rem;
	}
	.subtitle{
		font-size: 1.5rem;
	}
	.buttonDiv{
		display: flex;
		height: 20vh;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 0;
	}
	.main{
		width: 40vw;
	}
	.btn__primary{
		margin: 0;
		width: 20vw;
	}
	.btn__secondary{
		margin: 0;
		width: 20vw;
	}
	.right{
		height: 70vh;
		width: 40vw;
	}
	.image{
		object-fit: cover;
	}
}