@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.form_class{
  height:1100px;
  display:flex;
  width:1500px;
  margin:auto;
  justify-content: center; 
  border-radius: 8px;
  background-image:url('../../public/images/spikes.png');
  font-family: "Poppins", sans-serif;
}
.Incenter{
    /* display: flex; */
    justify-content: center;
    margin-top: 50px;
    width:800px;
    
}
.drag_area{
    margin-top:30px ;
  border: 2px dashed rgb(17, 16, 16);
  height: 200px;
  width: 200px;
  border-radius: 2.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  background-color: rgb(250, 251, 252);
  background-size: contain;
  text-align:center;
  margin: 0 auto;
}
.drag_area.active{
  border: 2px solid rgb(5, 5, 5);
}
.drag_area .icon{
  font-size: 100px;
  color: rgb(8, 7, 7);
  font-family: "Poppins", sans-serif;
}
.drag_area header{

  font-size: 16px;
  font-weight: 500;
  color: rgb(12, 11, 11);
  padding-left: 20px;
  padding-right:20px;
  font-family: "Poppins", sans-serif;
}
.drag_area span{
  font-size: 16px;
  font-weight: 500;
  color: rgb(5, 5, 5);
  margin: 10px 0 15px 0;
  font-family: "Poppins", sans-serif;
}
.buttonClass{
    display:flex;
    justify-content: center;
    margin-top:30px;
}
.push_area {
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #17aefd;
    color: #e9eaf3;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
.drag_area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.formInput{
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
    font-size :21px;
}

.formInput h2{
    padding-top: 14px;
    font-family: "Poppins", sans-serif;

}
.formInput input{
  margin-top: 15px;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
  width : 450px;
  height:40px;
}
.formInput textarea{

  margin-top: 15px;
  margin-left: 25px;
  font-size:21px;
  font-family: "Poppins", sans-serif;
  width : 480px;
  height:140px;
  font-weight:400;
  padding: 3px 3px 0px 3px;
}
.formInput input[type="text"]{
  font-family: "Poppins", sans-serif;
  font-size:21px;
  font-weight:400;
}

.formChildren{
  display: flex;
}