.card_img {
	width: 60%;
	height: 80%;
}
.btn_primary {
	background: white;
	border: 1px solid #f83686;
	padding: 0.75rem 0.75rem;
	font-size: large;
	cursor: pointer;
	transition: 0.25s ease-in-out;
}
.btn_link_primary {
	text-decoration: none;
	color: #f83686;
}
.btn_secondary {
	background: #f83686;
	border: 1px solid white;
	padding: 0.75rem 0.75rem;
	font-size: large;
	cursor: pointer;
	transition: 0.25s ease-in-out;
}
.btn_link_secondary {
	text-decoration: none;
	color: white;
}

.btn_card:hover {
	transform: scale(1.2);
}

.modal {
	display: flex;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: all 0.5s ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	height: 70%;
	width: 70%;
	max-width: 80%;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal_body {
	height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: left;
	padding: 10px 15px;
	margin: 0 0 0 1rem;
	width: 90%;
}

.modal_header {
	height: 15%;
	width: 100%;
	padding: 4rem 1.5rem;
	display: flex;

	justify-content: space-between;
	align-items: center;
}

.modal_title {
	font-size: 2rem;
}

.modal_subtitle {
	font-size: 1.5rem;
	opacity: 0.6;
}

.modal_header .modal-title {
	padding-top: 15px;
	font-weight: bold;
}
.close_button {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 1rem;
	border: none;
	outline: none;
	background: none;
	font-size: 2.5rem;
}

.store_left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}
.store_right {
	width: 50%;
}

.modal_details {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.modal_product_description {
	width: 100%;
}

.modal_btns {
	width: 100%;
	height: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: top;
}
.image {
	height: 90%;
	object-fit: cover;
}

@media screen and (max-width: 960px) {
	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.modal_details {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-self: flex-start;
	}
	.modal_header {
		padding: 3rem 0 2rem 1.5rem;
	}
	.modal_btns {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		transform: scale(0.8);
	}
	.image {
		width: 30vw;
		height: 50vw;
	}
	.box {
		height: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
	}
}
