.main_container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
}

.main_container::before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  background: linear-gradient(-45deg, #1466e3, #17aefd);
  top: -10%;
  right: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 1.8s ease-in-out;
  transition: 1.8s ease-in-out;
}

.form_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10%;
  left: 0;
  z-index: 5;
}

.form {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50% -50%);
          transform: translate(-50% -50%);
  width: 50%;
}

.donate_form {
  -webkit-transition: 1s 0.7s ease-in-out;
  transition: 1s 0.7s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 0 5rem;
}

.title {
  font-size: 2.2rem;
  color: #444444;
  margin-bottom: 10px;
  text-align: center;
}

.input_field {
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  height: 55px;
  background-color: #f6f6f6;
  margin: 10px 0;
  padding: 0 0.5rem;
  border-radius: 55px;
}

.input_field .input {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  padding-left: 50px;
  color: #333333;
}

.input_field .input::-webkit-input-placeholder {
  color: #aaaaaa;
}

.input_field .input:-ms-input-placeholder {
  color: #aaaaaa;
}

.input_field .input::-ms-input-placeholder {
  color: #aaaaaa;
}

.input_field .input::placeholder {
  color: #aaaaaa;
}

.text_field {
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  height: 250px;
  background-color: #f6f6f6;
  margin: 10px 0;
  padding: 0 0.5rem;
  border-radius: 20px;
}

.text_field .text {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 1rem;
  background: none;
  outline: none;
  border: none;
  color: #333333;
}

.text_field .text::-webkit-input-placeholder {
  color: #aaaaaa;
}

.text_field .text:-ms-input-placeholder {
  color: #aaaaaa;
}

.text_field .text::-ms-input-placeholder {
  color: #aaaaaa;
}

.text_field .text::placeholder {
  color: #aaaaaa;
}

.file_field {
  width: 100%;
  max-width: 400px;
  min-width: 250px;
  height: 55px;
  background-color: #f6f6f6;
  margin: 10px 0;
  padding: 0 0.5rem;
  border-radius: 55px;
  position: relative;
}

.file_field .file {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  display: none;
}

.file_field label {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  line-height: 55px;
  font-weight: 600;
  font-size: 1.1rem;
  color: #aaaaaa;
}

.btn {
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  background-color: #17aefd;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  -webkit-transform: 1s;
          transform: 1s;
}

.btn:hover {
  background-color: #1466e3;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.transparent {
  background: transparent;
  border: 2px solid #ffffff;
}

.subtext {
  margin: 10px 0;
  text-align: center;
}

.subtext a {
  color: #17aefd;
  cursor: pointer;
}

.image {
  width: 100%;
  -webkit-transition: 1.1s .4s ease-in-out;
  transition: 1.1s .4s ease-in-out;
}

.panel_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 6;
  text-align: center;
}

.panel .content {
  color: #ffffff;
  margin: 15px 0 0 50px;
}

.panel .content h3 {
  font-size: 3rem;
}

@media (max-width: 870px) {
  .main_container {
    min-height: 900px;
    height: 100vh;
    overflow-y: hidden;
  }
  .main_container::before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 70%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    right: initial;
    top: initial;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  .title {
    font-size: 1.5rem;
  }
  .subtext {
    margin: 10px 0 20px 0;
  }
  .form {
    width: 100%;
    left: 0;
    top: 110%;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  .image {
    width: 200px;
  }
  .panel_container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
  }
  .panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  .panel .content {
    margin: -20px 0 0 0;
  }
  .panel .content h3 {
    font-size: 2rem;
  }
}

@media (max-width: 570px) {
  .donate_form {
    padding: 0 1.5rem;
  }
  .image {
    display: none;
  }
  .panel .content {
    padding: 0 1rem;
    margin: -70px 0 0 0;
  }
  .desctext {
    display: none;
  }
  .main_container::before {
    bottom: 75%;
    left: 50%;
  }
}
/*# sourceMappingURL=password_reset.module.css.map */