.head {
	width: 50%;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -15%);
}

.main {
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	color: white;
}
