.left {
	opacity: 0;
	animation: fadeX 0.5s ease-in-out 0.5s forwards;
}
.right {
	opacity: 0;
	animation: fadeX 0.5s ease-in-out 1s forwards;
}
@keyframes fadeX {
	from {
		transform: translateX(-50px);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.heroContainer {
	display: flex;
	height: 90vh;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.left {
	width: 50%;
	float: left;
}
.right {
	width: 50%;
	float: right;
}

.main {
	margin: 10px;
}
.title {
	margin: 10px;
}
.subtitle {
	margin: 10px;
}

.btn__primary {
	margin: 10px;
	height: 5rem;
	width: 7rem;
	color: #17aefd;
	border: 1px solid #17aefd;
	background-color: white;
	transform: scale(1);
	transition: all ease-in-out 0.5s;
}

.btn__primary:hover,
.btn__secondary:hover {
	transform: scale(1.1);
}

.btn__secondary {
	height: 5rem;
	width: 7rem;
	color: white;
	border: 1px solid #17aefd;
	background-color: #17aefd;
	transform: scale(1);
	transition: all ease-in-out 0.5s;
}
