.nav {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #17aefd;
	color: white;
}

.ul {
	display: flex;
	width: 60%;
	list-style: none;
	justify-content: space-around;
	align-items: center;
}
